<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Html Practice</title>
    </head>
    <h1>HTML practice Thymeleaf</h1>

    <p>Hello World</p>
    <ul>
        <li>List Item 1</li>
        <li>List Item 2</li>
    </ul>

    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        <tr>
            <td>Jack</td><td>London</td>
        </tr>
        <tr>
            <td>John</td><td>Wilson</td>
        </tr>
    </table>

    <body>
    </body>
</html>
